accelerate
bitsandbytes
decord
deepspeed
diffusers
easydict
einops
flash-attn
ftfy
huggingface-hub
imageio[ffmpeg]
numpy
opencv-python
packaging
peft
regex
safetensors
scipy
tensorboard
torch
torchvision
tqdm
transformers
